/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 100; 
  top: 0;
  left: 0;
  background-color: #263238; 
  opacity: 0.9;
  overflow-x: hidden;   
  transition: 0.5s; 
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #2C3E50;
  color: white;
  font-weight: bold;
  border: none;
  margin-right: 100px;
}

.openbtn:hover {
  background-color: #263238;
}

.sidebar h5{
  color:white;
  margin-left:30px;
  font-size: 18px;  
  margin-top: 10px;
  padding-top: 18px;
  margin-bottom: 10px;
}

#nav {
  background-color: #2C3E50;  
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img{
  height:9.8vh;  
  margin-left:100px;
}

.sidebar p{
  color:white;
}

.favoritedata h5{
  color: white;
  margin: 0px 30px;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 4px;
  font-weight: normal;
}

@media (max-width: 700px) and (orientation:portrait) {
  #nav {
    justify-content: flex-end;
  }
  nav img{    
    margin-left:20px;
  }
  .openbtn {
    margin-right: 20px;
    font-size: 18px;
  }
}

@media (max-width: 700px) and (orientation:landscape) {
  .openbtn {    
    font-size: 16px;
  }

  .sidebar h5{  
    font-size: 14px;  
  }
}

